# Ignore local configuration files.
/.rspec
/.ruby-gemset
/.ruby-version

# Ignore compiled gems.
/*.gem

# Ignore gems snapshot.
/Gemfile.lock

# Ignore bundler config.
/.bundle

# Ignore generated documentation.
/doc
.yardoc

# Ignore temporary files.
.byebug_history
/coverage/*
